.about-container {
  display: flex;
  flex-direction: column;
}
.about-title {
  font-size: 1.5rem;
  text-align: center;
}
.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 40px;
  gap: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.section-container:hover {
  transform: scale(1.05);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
.section-img {
  width: 30vh;
  height: 30vh;
  border-radius: 10px;
}
body {
  padding-bottom: 100px; /* Adjust the value as needed based on the height of your footer */
}
